body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#washout {
    opacity: 0.78;
}

#heavy {
    font-weight: 500;
}

#medium {
    font-weight: 400;
    text-shadow: 1px 1px #212121;
}

.lead-title {
    text-shadow: 2px 2px #37474f;
}