body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#washout {
    opacity: 0.78;
}

#heavy {
    font-weight: 500;
}

#medium {
    font-weight: 400;
}